/* -----------------share style----------------------- */
*{
    font-family: 'Mulish', sans-serif;
}
body{
    max-width: 1440px;
    margin: 52px auto;
}
.btn-primary{
    border-radius: 8px;
background: #FF5400;
width: 174px;
height: 52px;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 700;
border: 0;

    }
    .section-title{
        color: #131318;

font-size: 40px;
font-weight: 800;
        }
.common-header-mideam{
    color: #131318;
font-size: 24px;
font-weight: 800;
text-align: left;
padding:0 74px;
}
.common-description-mideam{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
padding: 0 52px;
}
.common-red-mideam{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    padding:0 74px;
}
    /* ------------------header section ----------------*/
/*------------------------------ navigation style------------ */
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
}
.nav-logo img{
   margin: 30px 16px 0 0;
height: 47.008px;

}
.nav-logo h2{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.logo-text{
    color: #FF5400;
}

.nav-items ul{
    display: flex;
    padding: 10px 0;
    
}
.nav-items li{
  
    list-style: none;
    margin-right: 44px;
    color: #424247;
text-align: center;
font-size: 18px;
font-weight: 400;
    
}
.nav-items .home-text{
    color: #FF5400;
text-align: center;
font-size: 18px;
font-weight: 700;
}
.nav-items  a{
    text-decoration: none;
    
}

/* banner style */
.banner-head{
    background: url(./Images/Group\ 13\ \(1\)\ \(1\).png) no-repeat center ;
    background-size: cover;
    height: 600px;
    border-radius: 16px;
    margin-top: 50px;
   max-width:100%;
    
}
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
 .banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
   padding-top: 135px;
   margin-bottom: 0;
}
.banner-description{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
padding: 0px 247px;
}
.form-1{
    display: flex;
 justify-content: center;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
width: 50%;
margin: 35px 349px;
}
.form-btn{
   padding: 16px;
border-radius: 8px;
background: #FFF;
border: 0;
}
/* ----------------------main section----------------------- */
/* --------------------our popular toure section------------- */
.our-popular-tour{
    display: flex;
    margin-top: 130px;
    gap: 50px;
    
}
.popular-tour-description{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
}
.our-popular-tour ul{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;

}
.our-popular-tour ul li{
    margin: 16px;
}
.ture-popular-img video{
   width: 540px;
height: 305px;
margin: 0;
padding: 0;

}
/*-------------------------- chose your destination----------- */
.destination{
    text-align: center;
}
.row img{
    width: 100%;
    height: 100%;
    
}


.row{
    height: 400px;
    display: flex;
    gap: 12px;
    margin-bottom: 5px;
    width: 100%;
}
.common-description{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
}
.row > div{
    flex: 1;
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.our-popular-tour-content button{
    margin-top: 30px;
}
/* ----------------------------- Why Choose Us----------- */
/* ------------------------ chose us card section ----------------- */


 .card{

padding:30px;
width: 573px;
height: 284px;
margin-top: 100px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);

}
.card-clr1{
    padding:30px;
    margin-top: 100px;
    width: 573px;
height: 284px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}

.card-container{
    color: #727272;
font-size: 20px;
font-weight: 600;
margin-top: 5px;

}
.card-multiple{
    display: flex;
    justify-content: space-between;
}
.card-single{
    display: flex;
    justify-content: center;
}
/* discount section */

.discount-head{
    background: url(./Images/Group\ 39.png), no-repeat center ;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
   max-width:100%;
   position: relative;
    
}
.discount-card{
 border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
width: 579px;
height: 389px;
position: absolute;
top: 10%;
right: 5%;

}
.discount-header{
    background: url(./Images/Group\ 40.png), no-repeat center ;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
   max-width:100%;
   position: relative;
    
}
.discount-carder{
 border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
width: 579px;
height: 389px;
position: absolute;
top: 10%;
left: 5%;

}
/* Perfect Place */
/* ---------------------newsletter section-------------- */
.newsletter-head{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.form{
    
padding:40px;
width: 474px;
height: 350px;

border-radius: 16px;
border: 1px solid #FF5400;
background: #FFF;

}
.form-head{
    color: #131318;
font-size: 24px;
font-style: normal;
font-weight: 800;

}

.newsletter-head form input{
    padding: 3px;
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: 0;
width: 420px;
height: 52px;
flex-shrink: 0;
margin-top: 15px;
margin-bottom: 16px;
}
.form-hr{
    width: 420px;
height: 2px;
margin: 3px 2px;
background: rgba(19, 19, 24, 0.10);
border: 0;
}
#form-btn{
    width: 425px; 
    height: 52px;
}
.form-img img{
    width: 672px;
height: 422px;
}
.form-img{
    background: url(./Images/Rectangle\ 8\ \(1\).png) no-repeat center ;
    background-size: cover;
    width: 672px;
    height: 422px;
    border-radius:16px;
    max-width:100%;
    position: relative;
   
}
.offer-img{
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
position: absolute;
top: 58%;
right: 3%;}
.offer-70-description{
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
}
.offer-70{
    color: #FFF;
font-size: 32px;
font-weight: 800;
text-align: center;
margin:-14px;
}

/* ----------------------footer---------------------------------- */
footer{
  margin-top: 100px;
  background: rgba(19, 19, 24, 0.05);
  max-width: 1440px;
  height: 502px;
}
.ture-logo{
   padding-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-description{
    text-align: center;
    margin: 10px 335px;
}
 .footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
.hr-1{
    width: 872px;
     height: 2px;
     background: rgba(19, 19, 24, 0.10);
     border: 0;
}

footer .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* ---------------------responsive media queries-------------------- */
/* ------------------------mabile devices--------------------------- */
@media screen and (max-width:600px) {

   nav,
.banner-head,
.form-1,
.our-popular-tour,
.card-multiple,
.card-single,
.newsletter-head,
.row
   {
    flex-direction: column;
   }
   .our-popular-tour{
    margin-top: 0px;
   }
   .common-description,
   .common-description-mideam
    {
    font-size: 15px;
    padding: 0 45px;
  }
  .banner {
    width: 366px;
    height: 622px;
    margin: 10px -10px;
  }
  .btn-primary{
    margin: 0 20px;
  }
  #form-dsc{
    font-size: 12px;
    padding:2px 12px;
  }
  .discount-head {
    margin: 10px auto;
    max-width: 335px;
height: 500px;
    
  }
  .common-description-mideam{
        font-size: 10px;
        padding: 0px 45px;
        margin: 0 auto;
      }
  .discount-card,
  .discount-carder{
    width: 303px;
height: 297px;
top: 30%;
  right: 4%;
}
.discount-card img,
.discount-carder img {
    width: 100%;
}
footer{margin-top: 25px;
    height: 397px;}
.common-header-mideam,
.common-red-mideam {
    padding: 0 75px;
    margin-top: 0px;
    font-size: 16px;
  }
  
  .card-container img {
    margin: 0 30px 0 30px;
  }
  .card, .card-clr1, .ture-popular-img video, .form-img{
    padding: 2px;
    width: 90%;
    margin: 0px 18px;}
        
.popular-tour-description{
    font-size: 15px;
    padding: 0 40px; }
.section-title {
    text-align: center;
    font-size: 30px;}
   .form-1 {
    padding: 54px;
    margin: 38px 40px;}
    .newsletter-head {
        margin-top: 30px;
      }
.banner-head,
.ture-popular-img img,
.form {
    width: 84%;
    margin: 10px 19px;
    padding: 0px 9px;}
  .form-hr {
    width: 320px;
    height: 2px;
    margin: 3px 13px;}
 .newsletter-head form input {
        width: 316px;
        height: 52px;
        margin: 10px 10px;}
      #form-btn{
width: 320px;
margin: 0 10px;}
.banner-title,
.form-head{
    font-size: 25px;
    padding-top: 20px;
    margin: 0 13px;}
.offer-img {
    width: 261px;
    height: 94px;
    top: 68%;
    right: 1%; }
  .offer-70-description {
    font-size: 15px;}
.banner-description {
    font-size: 12px;
    padding:0 30px;} 
.nav-logo,
   .nav-items
   {align-self: center;}
   .nav-items li{
    padding: 3px;
    margin: 2px;
   }
   .ture-logo {
    padding-top: 50px;}
    .footer-icon img {
        width: 10%;}
        
   .footer-description{
    margin: 0px 12px;
}
.hr-1 {
    width: 335px;

  }
  

}


